/* chrome opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    * {
        color: blue;
        -webkit-writing-mode: vertical-lr;

    }
}

/* safari */
_::-webkit-full-page-media, _:future, :root * {
    color: green;
    writing-mode: vertical-lr;
    -webkit-text-orientation: sideways-right;
}

/* Firefox */
@-moz-document url-prefix() {
    * {
        color: orange;
        writing-mode: vertical-lr;
    }
}
/* Edge 1 */
@supports (-ms-ime-align: auto) {
	* {
        color: purple;
        writing-mode: vertical-lr;
    }
}
/* Edge 2 */
_:-ms-lang(x)::backdrop, 
	* {
        color: purple;
        writing-mode: vertical-lr;
}
/* IE11 */
_:-ms-lang(x)::-ms-backdrop, 
	* {
        color: gray;
        writing-mode: vertical-lr;
}