.MongolianWhite{
   font-family: 'Mongolian White';
}
.MongolianWriting{
  font-family: 'Mongolian Writing';
}
.MongolianArt{
  font-family: 'Mongolian Art';
}
.MongolianTitle{
  font-family: 'Mongolian Title';
}
.MenkQaganTig{
  font-family: 'Menk Qagan Tig';
}
.MenkScninTig{
  font-family: 'Menk Scnin Tig';
}
.MenkHarTig{
  font-family: 'Menk Har_a Tig';
}
.MenkHawangTig{
  font-family: 'Menk Hawang Tig';
}
.MenkGarqagTig{
  font-family: 'Menk Garqag Tig';
}
.MenkHvlvsvnTig{
  font-family: 'Menk Hvlvsvn Tig';
}
.MenkNarinTig{
  font-family: 'Menk Narin Tig';
}
.MenkVranTig{
  font-family: 'Menk Vran Tig';
}
.MenkMcdvnbarTig{
  font-family: 'Menk Mcdvnbar Tig';
}
.MenkBudunTig{
  font-family: 'Menk BudunTig';
}
.MenkQimedTig{
  font-family: 'Menk Qimed Tig';
}
.MenkAmglangTig{
  font-family: 'Menk Amglang Tig';
}
.MenkLhundbTig{
  font-family: 'Menk Lhundb Tig';
}
.MenkOnqaHarTig{
  font-family: 'Menk OnqaHar_a Tig';
}
.MenkQimigTig{
  font-family: 'Menk Qimig Tig';
}
.MenkTvgvraiTig{
  font-family: 'Menk Tvgvrai Tig';
}
.MenkUjugTig{
  font-family: 'Menk Ujug Tig';
}
.MenkSidamTig{
  font-family: 'Menk Sidam Tig';
}
.MenkSvlbiyaTig{
  font-family: 'Menk Svlbiya Tig';
}
.MenkEgulenTig{
  font-family: 'Menk Egulen Tig';
}
.MenkVyanggaTig{
  font-family: 'Menk Vyangga Tig';
}
.MenkSvgvnagTig{
  font-family: 'Menk Svgvnag Tig';
}
.MenkTenigunTig{
  font-family: 'Menk Tenigun Tig';
}
.MenkQingmingTig{
  font-family: 'Menk Qingming Tig';
}
.MenkXvsigaTig{
  font-family: 'Menk Xvsiga Tig';
}
.MenkDorogeTig{
  font-family: 'Menk Doroge Tig';
}
.MenkTegusTig{
  font-family: 'Menk Tegus Tig';
}
.MenkEriheTig{
  font-family: 'Menk Erihe Tig';
}